

.container{
    display: flex;
    max-width: 1180px;
    margin: auto;
    
    color: var(--accent-color-dark);
    
    /* overflow: hidden; */
}

/* NavBar Starts */
.main-nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    
    box-shadow: #d2c0ff 0px 2px 2px;
    
    
}
.company-logo{
    margin-left: 10px;
}

.company-logo img{
    width: 250px;
    
}


.nav-links ul{
   
    list-style: none;
    justify-content: flex-end;
    gap:70px;
    margin-right: 20px;
}
.nav-links a{
    font-size: 1.25rem;
    color:black;
    opacity: 1;
}
.nav-links a:hover{
    opacity: 0.60;
    transition: 0.2s ease-out;
}
.nav-links a:nth-child(4){
    color:var(--accent-color-dark);
    
}


.nav-toggle{
    display: none;
}

/* NavBar Ends */

/* Header Section */

header{
    padding:40px 30px;

}
.header-section{
    justify-content: center;
    gap:50px;
    
   
}

.left-section h1{
    font-weight: bold;
    line-height: 1.35;
    margin-bottom: 20px;
}
.left-section p{
    max-width: 500px !important;
    font-size: 1.75rem;
    line-height: 1.25;
    color:grey
}

.get-it{
    margin-top: 30px;
}

.header-image{
    width: 100%;
    
    
}







/*  Section Starts */
.big-feature-section{
    margin-block: 40px;
    padding: 30px var(--padding-inline-section) 0;
}
.big-feature-container{
    /* color:red; */
    justify-content: center;
    gap:70px;
}
.left-side img{
    justify-content: center;
    width: 100% ; 
    
}
.left-side img{
    width: 300px ; 
    
}



.right-side{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start; 
}
.right-side h1{
    margin-bottom: 10px;
    font-size :3.5rem;
    
    color:black;
    
}
.right-side p{
    
    color:grey;
    font-size: 1.75rem;
    line-height: 1.25;
    
    
}

/* Investment Calculator */

.currency-section-area{
    
    padding:80px;
    
}
.currency-section{
    
    justify-content: space-evenly;
    border-radius: 25px;
    border: 0.5px solid #6947bf;
    box-shadow: #6947bf 0 0 20px;
    padding: 40px;
    gap:40px;
}


.left-text-section{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: flex-start;
}
.left-text-section h1{
    line-height: 1.25;
    color: #6947bf;
    max-width: 90%;
    margin-bottom: 10px;
}
.left-text-section p{
    color:grey;
    font-size: 1.75rem;
    line-height: 1.25;
}

.right-currency-section{
   width: 40%;
   border: 1px solid #6947bf;
   border-radius:20px ;
   /* box-shadow: #6947bf 0 0 20px; */
}
.currency-selection{
    padding:20px;
    display:flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    border-radius: 20px;
    
}
.currency-selection label{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(105, 104, 104);
}
.currency-selection select{
    padding: 1rem;
    border-radius: 0.4rem;
    border: 0.5px solid grey;
}
.investment-section{
    margin-top: 20px;
    padding:20px;
    display:flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    border-radius: 20px;
}

.investment-section label{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(105, 104, 104);
}
.investment-section select{
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: 0.4rem;
    border: 0.5px solid grey;
}
.total-value{
    margin-top: 20px;
    padding:20px;
    /* background-color: aliceblue; */
    border-radius: 20px;
}
.total-value label{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(105, 104, 104);
}


.last{
    padding: 30px;
    justify-content: center;
    color:#6947bf;
    margin-bottom: 40px;
}
